@keyframes clouds-loop-2 {
  to {
    background-position: -1000px 0;
  }
}
.clouds-2 {
  background-image: url("https://s.cdpn.io/15514/clouds_1.png");
  animation: clouds-loop-2 40s infinite linear;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(#7f7fe1, #8d8a8a);
}

.clouds {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  height: 100%;
}

.clouds-2 {
  background-repeat: repeat-x;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 500px;
}
