body {
  margin: 0;
  overflow: hidden;
  background-size: 1550px 750px;
  background-image: url("C:\\D\\21R11A05N1\\wtpro\\snowy.jpg");
}

.snowflake {
  position: absolute;
  font-size: 20px;
  color: #fff;
  user-select: none;
  pointer-events: none;
  animation-name: fall;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}